/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100px;
}

a {transition: ease-out all 0.5s;}



/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  text-align: center;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 72px;
  color: #fff;
}

header nav {
  padding:0 0 25px 0;
}

header nav a {
  color: #fff;
  text-decoration: none;
  padding: 8px;
  margin:0 4px;
}

header nav a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Search Form ------- */
form {
  border: 2px solid #ff385c;
  padding: 10px;
}

form div {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

form label {
  display: inline-block;
  width:20%;
  font-weight: bold;
}

form select,
form input {
  width:70%;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}


/* -------  Main ------- */

section img {
  width:100%;
  height: auto;
  margin: 12px 0;
}



/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */

@media all and (min-width: 480px) {

    header {
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .logo {
      font-size: 36px;
    }
    header nav {
      padding:0;
    }
    form {
      display: flex;
    }
    form div {
      flex:1 1 auto;
      display: inline-block;
      margin:0;
    }
    form button {
      flex:1;
    }
    form input,
    form select {
      width:100%;
      max-width:150px;
    }
    form label {
      display: block;
    }

    /* ---  Groups & Items --- */

    .group {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .item {
      flex: 1;
      margin: 10px;
    }

    .item-double {
      flex: 2;
    }

}